#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
DISTRO="darwin"
{{- else -}}
DISTRO="ubuntu"
{{- end }}

install_tooling() {
  local os_type="$1"
	if [ "$os_type" != "darwin" ]; then
		echo "Nothing to install for $os_type"
		return 0
	else
		# echo "xcode-select --install 2>/dev/null"
		echo "should have installed xcode command line tools"
	fi
}

