#!/bin/bash

set -euo pipefail

# Optional: uncomment for debugging
# set -x

{{/* Include shared utility functions */}}
{{- template "shell-utils" . -}}

{{ if eq .chezmoi.os "darwin" -}}
DISTRO="darwin"
{{- else -}}
# Detect Linux distribution
if [ -f /etc/os-release ]; then
  . /etc/os-release
  case "$ID" in
    fedora|rhel|centos|rocky|almalinux)
      DISTRO="fedora"
      ;;
    arch|manjaro|endeavouros|garuda)
      DISTRO="arch"
      ;;
    ubuntu|debian|pop|elementary|linuxmint)
      DISTRO="debian"
      ;;
    alpine)
      DISTRO="alpine"
      ;;
    *)
      DISTRO="unknown"
      ;;
  esac
else
  DISTRO="unknown"
fi
{{- end }}

#############################################
# Install them all
#############################################
install_essentials $DISTRO
install_docker $DISTRO
install_brew $DISTRO

install_nix $DISTRO
install_homemanager $DISTRO
install_devbox $DISTRO

install_complements $DISTRO

# Switch to zsh if it exists
ZSH_PATH=$(which zsh 2>/dev/null)
[[ "$SHELL" != "$ZSH_PATH" ]] && [[ -n "$ZSH_PATH" ]] && [[ -x "$ZSH_PATH" ]] && sudo chsh -s "$ZSH_PATH" "$USER"

exit 0
