#!/bin/bash

function install_bins() {
	if [ hash nix-env 2>/dev/null -a -f $HOME/.env.nix ]; then
		echo "Installing nix environment"
		nix-env -ir -f $HOME/.env.nix
	elif [ hash devbox 2>/dev/null -a -f "$(devbox global path)/devbox.json" ]; then
		echo "Installing devbox environment"
		devbox global install
	else
		echo "No nix environment found"
	fi
}

{{ if eq .chezmoi.os "darwin" -}}

install_bins

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

exit 0

{{ else if eq .chezmoi.os "linux" -}}

install_bins

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}

exit 0

{{ end -}}
