#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
DISTRO="darwin"
{{- else -}}
DISTRO="ubuntu"
{{- end }}

#############################################
# Installs homebrew on darwin and linux
# On linux it installs linuxbrew
# We tend to use nix instead
#############################################

function install_brew {
  local osType=$1

  if [ "$osType" = "darwin" ]; then
		if [ ! -d "/opt/homebrew" ]; then
			curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash
			eval "$(/opt/homebrew/bin/brew shellenv)"
		else
			echo "Homebrew is already installed"
		fi
  else
		if [ ! -d "/home/linuxbrew/.linuxbrew" ] && [ ! -d "~/.linuxbrew" ]; then
			curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash
			[ -d "/home/linuxbrew/.linuxbrew/bin" ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
			[ ! -d "/home/linuxbrew/.linuxbrew/bin" ] && [ -d "~/.linuxbrew/bin" ] && eval "$(~/.linuxbrew/bin/brew shellenv)"
		else
			echo "Linuxbrew is already installed"
		fi
  fi
}

#############################################
# Install nix on darwin and linux
# On darwin, we add the nix-darwin util
#############################################

function install_nix {
  local osType=$1

  if [ ! -d "$HOME/.nix-profile" ]; then
		echo "Installing Nix"
		curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install
	  source $HOME/.nix-profile/etc/profile.d/nix.sh

		mkdir -p $HOME/.local/bin
		cat > $HOME/.local/bin/nix-uninstall << _EOF
#!/bin/bash

/nix/nix-installer uninstall
_EOF
		chmod +x $HOME/.local/bin/nix-uninstall

	  if [ "$osType" = "darwin" ]; then
	    source $HOME/.nix-profile/etc/profile.d/nix.sh
			nix-build https://github.com/LnL7/nix-darwin/archive/master.tar.gz -A installer
			./result/bin/darwin-installer
			cp ./result/bin/darwin-uninstaller $HOME/.local/bin
			rm -rf ./result/bin
	  fi
	else
		echo "Nix is already installed"
  fi
}

#############################################
# Install zsh plugin manager
# We want to replace this with a nix flake
#############################################

function install_zsh_manager {
  if [ ! -f "$HOME/.config/antigen/antigen.zsh" ]; then
		echo "Installing zsh plugin manager (antigen)"
    mkdir -p "$HOME/.config/antigen"
    curl -L git.io/antigen > $HOME/.config/antigen/antigen.zsh
	else
		echo "Zsh plugin manager is already installed"
  fi
}

#############################################
# Install tmux plugin manager (tpm)
# We want to replace this with a nix flake
# We also want to get rid of tmux
#############################################

function install_tmux_manager {
  if [ ! -d "${HOME}/.tmux/plugins/tpm" ]; then
		echo "Installing tmux plugin manager"
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
	else
		echo "Tmux plugin manager is already installed"
	fi
}

#############################################
# Install theme manager
# Mainly base16 themes
# However, we tend to use catpuccin as mush as we can now
#############################################

function install_theme_manager {
  if [ ! -d "$HOME/.local/share/base16-manager" ]; then
		echo "Installing base16 theme manager"
    mkdir -p "$HOME/.local/share/base16-manager"
    git clone https://github.com/base16-manager/base16-manager.git \
      $HOME/.local/share/base16-manager && \
      cp $HOME/.local/share/base16-manager/base16-manager $HOME/.local/bin/
    $HOME/.local/bin/base16-manager install chriskempson/base16-shell
    $HOME/.local/bin/base16-manager install chriskempson/base16-vim
    $HOME/.local/bin/base16-manager install nicodebo/base16-fzf

    $HOME/.local/bin/base16-manager set ocean
	else
		echo "Base16 theme manager is already installed"
  fi
}

#############################################
# Install essential tooling
#############################################

function install_essentials() {
  local distro="$1"

  # On Mac we must disable tls check for git temporarily
  hash git 2>/dev/null && git config --global http.sslVerify false

	# Creating needed directories
  mkdir -p $HOME/.local/{bin,share,etc,src}
  mkdir -p $HOME/.local/share/{node_modules,python_packages,gems,pnpm}
  mkdir -p $HOME/Workspace/Projects

	# Install brew and Nix
  case $distro in
    "ubuntu" | "debian")
      sudo apt update -y
      sudo apt upgrade -y
      sudo apt install -y build-essential curl git zsh fonts-hack-ttf

      brew install docker
      ;;
    "darwin")
      brew install zsh openssl
      brew tap homebrew/cask-fonts
      brew install font-hack-nerd-font
      brew install docker docker-compose

      # Install a working version of cocoapods
      brew uninstall --force ruby
      arch -x86_64 gem install ffi
      arch -x86_64 gem install cocoapods
      ;;
    *)
      echo "Not supported right now"
      ;;
  esac

  hash git 2>/dev/null && git config --global http.sslVerify true
  echo "Done installing. You should login and logout again"
}

#############################################
# Install them all
#############################################
install_brew $DISTRO
install_nix $DISTRO

install_essentials $DISTRO

install_zsh_manager
install_tmux_manager
install_theme_manager

exit 0
