#!/bin/bash

function install_bins() {
	if [ hash nix-env 2>/dev/null -a -f $HOME/.env.nix ]; then
		echo "Installing nix environment"
		nix-env -ir -f $HOME/.env.nix
	fi

	if [ hash devbox 2>/dev/null -a -f "$(devbox global path)/devbox.json" ]; then
		echo "Installing devbox environment"
		eval "$(devbox global shellenv)"
		devbox global install
	fi
}

{{ if eq .chezmoi.os "darwin" -}}

install_bins

if [ ! -x "$(command -v brew)" ]; then
	echo "No brew found, ...skipping"
	exit 0
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

exit 0

{{ else if eq .chezmoi.os "linux" -}}

install_bins

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}

if [ ! -x "$(command -v brew)" ]; then
	echo "No brew found, ...skipping"
	exit 0
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

exit 0

{{ end -}}
