# ##########################################
# Saasak
# ##########################################
Host proxmox-1
	User root
	HostName 62.210.198.131
	Port 22
	IdentityFile ~/.ssh/scaleway_rsa

Host proxmox-3
	User root
	HostName 62.210.88.91
	Port 22
	IdentityFile ~/.ssh/scaleway_rsa

Host proxmox-2
	User root
	HostName 51.159.106.162
	Port 22
	IdentityFile ~/.ssh/scaleway_rsa

Host prod-apps-01
	User georgio
	HostName 51.159.125.17
	Port 22
	IdentityFile ~/.ssh/scaleway_rsa

Host px-prod-apps-01
	HostName 10.10.1.1
	User georgio
  ProxyJump proxmox-3

Host px-prod-apps-02
	HostName 10.10.1.2
	User georgio
  ProxyJump proxmox-3

Host px-prod-apps-03
	HostName 10.10.1.3
	User georgio
  ProxyJump proxmox-3

Host px-staging-apps-01
	HostName 10.10.2.1
	User georgio
  ProxyJump proxmox-3

Host px-staging-apps-02
	HostName 10.10.2.2
	User georgio
  ProxyJump proxmox-3

Host px-databases-01
	HostName 10.10.8.1
	User root
  ProxyJump proxmox-1

Host px-services-01
	HostName 10.10.7.1
	User georgio
  ProxyJump proxmox-2

Host px-builders-01
	HostName 10.10.6.1
	User georgio
  ProxyJump proxmox-1

Host px-dev-01
	User georgio
	HostName 10.10.8.101
  ProxyJump proxmox-2

Host px-dev-02
	User georgio
	HostName 10.10.8.102
  ProxyJump proxmox-2
