<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
		<key>Label</key>
		<string>$TTYD_LABEL</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/georgio/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/ttyd</string>
			<string>--writable</string>
			<!-- <string>--ssl</string> -->
			<!-- <string>--ssl-cert</string> -->
			<!-- <string>/Users/georgio/.local/share/ttyd/tailscale-certs/georgess-mbp.tail1c514.ts.net.crt</string> -->
			<!-- <string>--ssl-key</string> -->
			<!-- <string>/Users/georgio/.local/share/ttyd/tailscale-certs/georgess-mbp.tail1c514.ts.net.key</string> -->
			<string>--interface</string>
			<string>127.0.0.1</string>
			<string>--port</string>
			<string>$TTYD_PORT</string>
			<string>--client-option</string>
			<string>disableLeaveAlert=true</string>
			<string>--client-option</string>
			<string>lineHeight=1.1</string>
			<string>--client-option</string>
			<string>fontSize=12</string>
			<string>--client-option</string>
			<string>fontWeight=600</string>
			<string>--client-option</string>
			<string>fontFamily='FiraCode Nerd Font Mono'</string>
			<string>--client-option</string>
			<string>theme={
				"background": "#303446",
				"foreground": "#c6d0f5",
				"cursor": "#f2d5cf",
				"black": "#51576d",
				"blue": "#8caaee",
				"red": "#e78284",
				"green": "#a6d189",
				"yellow": "#e5c890",
				"magenta": "#f4b8e4",
				"cyan": "#81c8be",
				"white": "#b5bfe2",
				"brightBlack": "#626880",
				"brightWhite": "#a5adce",
				"brightBlue": "#8caaee",
				"brightRed": "#e78284",
				"brightGreen": "#a6d189",
				"brightYellow": "#e5c890",
				"brightMagenta": "#f4b8e4",
				"brightCyan": "#81c8be"
				}</string>
			<string>$SHELL</string>
			<string>--login</string>
			</array>

		<key>RunAtLoad</key>
		<true/>

		<key>KeepAlive</key>
		<true/>

		<key>WorkingDirectory</key>
		<string>$HOME</string>

		<key>StandardOutPath</key>
		<string>$HOME/Library/Logs/$TTYD_LABEL.log</string>

		<key>StandardErrorPath</key>
		<string>$HOME/Library/Logs/$TTYD_LABEL.log</string>
		</dict>
	</plist>
